[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "bundle/tagbar"]
	path = bundle/tagbar
	url = https://github.com/majutsushi/tagbar.git
[submodule "bundle/TagHighlight"]
	path = bundle/TagHighlight
	url = https://github.com/vim-scripts/TagHighlight.git
[submodule "bundle/powerline-fonts"]
	path = bundle/powerline-fonts
	url = https://github.com/Lokaltog/powerline-fonts.git
[submodule "bundle/vim-airline"]
	path = bundle/vim-airline
	url = https://github.com/bling/vim-airline.git
[submodule "bundle/vim-nerdtree-tabs"]
	path = bundle/vim-nerdtree-tabs
	url = https://github.com/jistr/vim-nerdtree-tabs.git
[submodule "bundle/minibufexpl.vim"]
	path = bundle/minibufexpl.vim
	url = https://github.com/fholgado/minibufexpl.vim.git
[submodule "bundle/vim-multiple-cursors"]
	path = bundle/vim-multiple-cursors
	url = https://github.com/terryma/vim-multiple-cursors.git
[submodule "bundle/L9"]
	path = bundle/L9
	url = https://github.com/vim-scripts/L9.git
[submodule "bundle/calendar.vim"]
	path = bundle/calendar.vim
	url = https://github.com/itchyny/calendar.vim.git
[submodule "bundle/Command-T"]
	path = bundle/Command-T
	url = https://github.com/wincent/Command-T.git
[submodule "bundle/ctrlp-funky"]
	path = bundle/ctrlp-funky
	url = https://github.com/tacahiroy/ctrlp-funky.git
[submodule "bundle/ctrlp.vim"]
	path = bundle/ctrlp.vim
	url = https://github.com/kien/ctrlp.vim.git
[submodule "bundle/vim-diff-toggle"]
	path = bundle/vim-diff-toggle
	url = https://github.com/twe4ked/vim-diff-toggle.git
[submodule "bundle/NERD_tree-Project"]
	path = bundle/NERD_tree-Project
	url = https://github.com/vim-scripts/NERD_tree-Project.git
[submodule "bundle/sparkup"]
	path = bundle/sparkup
	url = https://github.com/rstacruz/sparkup.git
[submodule "bundle/vim-fugitive"]
	path = bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "bundle/vim-monokai-refined"]
	path = bundle/vim-monokai-refined
	url = git@github.com:jaromero/vim-monokai-refined.git
[submodule "bundle/ctrlsf.vim"]
	path = bundle/ctrlsf.vim
	url = https://github.com/dyng/ctrlsf.vim.git
[submodule "bundle/vim-youdao-translater"]
	path = bundle/vim-youdao-translater
	url = https://github.com/ianva/vim-youdao-translater.git
[submodule "bundle/indentLine"]
	path = bundle/indentLine
	url = https://github.com/Yggdroot/indentLine.git
[submodule "bundle/CCTree"]
	path = bundle/CCTree
	url = https://github.com/hari-rangarajan/CCTree.git
[submodule "bundle/vimwiki"]
	path = bundle/vimwiki
	url = https://github.com/vimwiki/vimwiki.git
[submodule "bundle/mark.vim"]
	path = bundle/mark.vim
	url = https://github.com/paulhybryant/mark.git
[submodule "bundle/flagit"]
	path = bundle/flagit
	url = https://github.com/paulrouget/flagit.git
[submodule "bundle/csapprox"]
	path = bundle/csapprox
	url = https://github.com/godlygeek/csapprox.git
[submodule "bundle/x-marks-the-spot.vim.git"]
	path = bundle/x-marks-the-spot.vim.git
	url = https://github.com/john2x/x-marks-the-spot.vim.git
[submodule "bundle/vim-cuteErrorMarker.git"]
	path = bundle/vim-cuteErrorMarker.git
	url = https://github.com/Twinside/vim-cuteErrorMarker.git
[submodule "bundle/vim-markology.git"]
	path = bundle/vim-markology.git
	url = https://github.com/jeetsukumaran/vim-markology.git
[submodule "bundle/vimshell.vim.git"]
	path = bundle/vimshell.vim.git
	url = https://github.com/Shougo/vimshell.vim.git
[submodule "/home/chenchunsheng/.vim/bundle/vimproc.vim"]
	path = /home/chenchunsheng/.vim/bundle/vimproc.vim
	url = https://github.com/Shougo/vimproc.vim.git
[submodule "bundle/neocomplete.vim"]
	path = bundle/neocomplete.vim
	url = https://github.com/Shougo/neocomplete.vim.git
[submodule "bundle/echofunc.vim"]
	path = bundle/echofunc.vim
	url = https://github.com/vim-scripts/echofunc.vim.git
[submodule "bundle/winmanager--Fox"]
	path = bundle/winmanager--Fox
	url = https://github.com/vim-scripts/winmanager--Fox.git
[submodule "bundle/nerdcommenter"]
	path = bundle/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter.git
[submodule "bundle/a.vim"]
	path = bundle/a.vim
	url = https://github.com/vim-scripts/a.vim.git
